(
    vars: {
        "BLOG_TITLE": Text("Based Cooking"),
    },
    dist: "blog",
    src: [
        ("index.html", Html("templates/index.html")),
        ("", Md (
            src: Stdin("git ls-tree HEAD --name-only -- $(BLOG_SRC)/*.md"),
            template: "templates/article.html",
            eval_vars: {
                "AUTHOR": Eval(Regex("# (.+)$", 1, First(Lines(Load(Var("FILE"))))))
            }
        )),
        ("", Copy("data/*.css")),
        ("pix", Copy("data/pix/*.webp"))
    ],
)